#Core UI Framework
streamlit==1.32.0

# API and Platform Integration
praw==7.7.1
python-dotenv==1.0.1

#Data Processing and Manipulation
pandas==2.2.1
numpy==1.26.4

# Machine Learning and NLP Engine
transformers==4.38.2
torch==2.2.1

# Visualizations
plotly==5.19.0

requests==2.31.0
numpy==1.26.4
